---
import LandingLayout from '../layouts/LandingLayout.astro';
import { AuthForm } from '../components/AuthForm';
---

<LandingLayout title="Log in">
  <div class="py-24">
    <AuthForm client:load />
  </div>
</LandingLayout>
